#resourceTable.tr{
    background-color: green;
    margin: 25,25,25,100;
}

tr.evenRow{
    background-color: lightblue;
}

tr.oddRow{
    background-color: lightgray;
}

@media all and (max-width: 300px){


    .table  thead {
        display: none;
        }

    .test-table .table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

        }

    .test-table table th {
        content: attr(col);
        font-weight: bold;
        padding-right: 20px;
        width: 40vw;
        display:inline-block;
        vertical-align: top

        }
    .test-table table td {
        word-break : break-all;
        width: 40vw;
        text-align: center;
        }
}